aiofiles==24.1.0
aiosqlite==0.20.0
annotated-types==0.7.0
async-timeout==4.0.3
asyncpg==0.29.0
bcrypt==4.2.0
blinker==1.8.2
buildpg==0.4
click==8.1.7
exceptiongroup==1.2.2
Flask==3.0.3
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
priority==2.0.0
pydantic==2.8.2
pydantic_core==2.20.1
pyhumps==3.8.0
python-dotenv==1.0.1
Quart==0.19.6
quart-auth==0.10.1
quart-cors==0.7.0
quart-db==0.8.2
quart-schema==0.20.0
taskgroup==0.0.0a4
tomli==2.0.1
typing_extensions==4.12.2
uvicorn==0.30.6
Werkzeug==3.0.4
wsproto==1.2.0
